PORT=
NODE_ENV=
MONGO_URI=
JWT_SECRET=
JWT_REFRESH_SECRET=
CLIENT_URL=
COOKIE_SECRET=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
RATE_LIMIT_WINDOW_MS=
RATE_LIMIT_MAX=
EMAIL_USER=
EMAIL_PASS=
SUPPORT_EMAIL=
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
MOCK_PAYMENT_ENABLED=
ADMIN_EMAIL=
ADMIN_PASSWORD=
# gmail

SMTP_USER_NAME=
SMPT_PASSWORD=
