$primary-color: #000000;  // Black text
$bg-color: #ffffff;       // White background
$border-color: #ddd;
$font-family: 'Poppins', sans-serif;


// src/scss/_variables.scss
$bg-color: #121212;
$text-color: #ffffff;
$accent-color: #ff4c29;
